<%- include('includes/header.html')  %> 
<%- include('includes/preloader.html')  %> 
<div class="page-wrapper">
    <%- include('components/header2.html')  %> 

        <!--About Page Start-->
        <section class="about-page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="about-page__left wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
                            <div class="about-page__img">
                                <img src="assets/images/resources/7.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="about-page__right">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">get to know us</span>
                                <h2 class="section-title__title">We Make Difference in their Life</h2>
                            </div>
                            <p class="about-page__text">African Islamic Charity Organization (AICO) is non profit charity organisation established in 2018 and found by the ibrahim khan and Muhammad Ali.
                                <br/> The organization’s main goal is to “improve community’s wellbeing and strengthen Islamic morals spiritually. AICO programs work towards to effectively address the immediate basic needs of vulnerable households, while laying a foundation for long-term livelihoods recovery and economic development. AICO always stands for the vulnerable people when they need help and they are one of the first respondents to come to their rescue. AICO staff members along with the local community volunteers have made house to house survey to select appropriate beneficiaries and emphasis was placed on the most affected families. It also involves volunteers from the local community to ensure that beneficiaries who are identified are the real affected families.</p>
                            <!-- <ul class="about-one__points list-unstyled">
                                <li>
                                    <div class="icon">
                                        <span class="icon-confirmation"></span>
                                    </div>
                                    <div class="text">
                                        <p>Join our Team</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-confirmation"></span>
                                    </div>
                                    <div class="text">
                                        <p>Quick Fundraising</p>
                                    </div>
                                </li>
                            </ul>
                            <ul class="about-one__points-content list-unstyled">
                                <li>
                                    <p class="about-one__points-text">Lorem ipsum dolor sit ame ed consectetur nod.</p>
                                </li>
                                <li>
                                    <p class="about-one__points-text">Lorem ipsum dolor sit ame ed consectetur nod.</p>
                                </li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About Page End-->


        <%- include('components/footer.html')  %> 
    </div>
<%- include('includes/footer.html')  %> 