<%- include('includes/header.html')  %> 
<%- include('includes/preloader.html')  %> 
<div class="page-wrapper">
    <%- include('components/header2.html')  %> 

        <!--Donations Page Start-->
        <section class="donations-page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Cause One Single-->
                        <div class="causes-one__single">
                            <div class="causes-one__img">
                                <img src="/assets/images/causes/1.jpg" alt="">
                                <div class="causes-one__category">
                                    <span>food</span>
                                </div>
                            </div>
                            <div class="causes-one__content-box">
                                <div class="causes-one__content">
                                    <h3 class="causes-one__title">
                                        <a href="give-them-education.html">Feeding Orphanes in Uganda</a>
                                    </h3>
                                    <p class="causes-one__text">Feeding orphanes iis one of the main project done here in Uganda, We feed the poor widows and orphanes that aren't able to feed themselves.</p>
                                    <a href="donate-now" class="donate-btn footer-donate__btn"> <i class="fa fa-heart"></i>
                                        Donate Now</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Cause One Single-->
                        <div class="causes-one__single causes-one__single-2">
                            <div class="causes-one__img">
                                <img src="/assets/images/causes/2.jpg" alt="">
                                <div class="causes-one__category">
                                    <span>Water</span>
                                </div>
                            </div>
                            <div class="causes-one__content-box">
                                <div class="causes-one__content">
                                    <h3 class="causes-one__title">
                                        <a href="start-a-fundraising.html">Water Well Repair and Construction</a>
                                    </h3>
                                    <p class="causes-one__text">We construct and repair water wells in areas that don't get or have clean water for drinking and using for domestic use.</p>
                                    <a href="donate-now" class="donate-btn footer-donate__btn"> <i class="fa fa-heart"></i>
                                        Donate Now</a>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Cause One Single-->
                        <div class="causes-one__single causes-one__single-3">
                            <div class="causes-one__img">
                                <img src="/assets/images/causes/03.jpg" alt="">
                                <div class="causes-one__category">
                                    <span>Mosque</span>
                                </div>
                            </div>
                            <div class="causes-one__content-box">
                                <div class="causes-one__content">
                                    <h3 class="causes-one__title">
                                        <a href="clean-pure-water.html">Masjid Construction</a>
                                    </h3>
                                    <p class="causes-one__text">For the love we have for Islamic religion, we construct Masjids in area they are not constructed to promote the morals of Islamic.</p>
                                    <a href="donate-now" class="donate-btn footer-donate__btn"> <i class="fa fa-heart"></i>
                                        Donate Now</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Cause One Single-->
                        <div class="causes-one__single">
                            <div class="causes-one__img">
                                <img src="/assets/images/causes/11.jpg" alt="">
                                <div class="causes-one__category">
                                    <span>Water</span>
                                </div>
                            </div>
                            <div class="causes-one__content-box">
                                <div class="causes-one__content">
                                    <h3 class="causes-one__title">
                                        <a href="give-them-education.html">Borehole Construction In Uganda</a>
                                    </h3>
                                    <p class="causes-one__text">We repair spoilt bore hole in parts of Uganda where they are not constructed, to provide them with water for their domestic use .</p>
                                    <a href="donate-now" class="donate-btn footer-donate__btn"> <i class="fa fa-heart"></i>
                                        Donate Now</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Cause One Single-->
                        <div class="causes-one__single causes-one__single-2">
                            <div class="causes-one__img">
                                <img src="/assets/images/causes/8.jpg" alt="">
                                <div class="causes-one__category">
                                    <span>Child Care</span>
                                </div>
                            </div>
                            <div class="causes-one__content-box">
                                <div class="causes-one__content">
                                    <h3 class="causes-one__title">
                                        <a href="start-a-fundraising.html">Orphane Caring In Uganda</a>
                                    </h3>
                                    <p class="causes-one__text">We provide care for the orphanes like distributing them with clothes to where, as children we need them to be happy and feel loved in the communities.</p>
                                    <a href="donate-now" class="donate-btn footer-donate__btn"> <i class="fa fa-heart"></i>
                                        Donate Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
        <!--Donations Page End-->


        <%- include('components/footer.html')  %> 
    </div>
<%- include('includes/footer.html')  %> 