<%- include('includes/header.html')  %> 
<%- include('includes/preloader.html')  %> 
<div class="page-wrapper">
    <%- include('components/header2.html')  %> 

        <!--Gallery Page Start-->
        <section class="gallery-page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="two-section__gallery-single">
                            <div class="two-section__gallery-img-inner">
                                <img src="assets/images/gallery/25.jpg" alt="">
                            </div>
                            <div class="two-section__gallery-img-overly">
                                <div class="two-section__gallery-icon-bg">
                                </div>
                                <a class="img-popup" href="assets/images/gallery/25.jpg">
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="two-section__gallery-single">
                            <div class="two-section__gallery-img-inner">
                                <img src="assets/images/gallery/24.jpg" alt="">
                            </div>
                            <div class="two-section__gallery-img-overly">
                                <div class="two-section__gallery-icon-bg">
                                </div>
                                <a class="img-popup" href="assets/images/gallery/24.jpg">
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="two-section__gallery-single">
                            <div class="two-section__gallery-img-inner">
                                <img src="assets/images/gallery/18.jpg" alt="">
                            </div>
                            <div class="two-section__gallery-img-overly">
                                <div class="two-section__gallery-icon-bg">
                                </div>
                                <a class="img-popup" href="assets/images/gallery/18.jpg">
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="two-section__gallery-single">
                            <div class="two-section__gallery-img-inner">
                                <img src="assets/images/gallery/1.jpg" alt="">
                            </div>
                            <div class="two-section__gallery-img-overly">
                                <div class="two-section__gallery-icon-bg">
                                </div>
                                <a class="img-popup" href="assets/images/gallery/1.jpg">
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="two-section__gallery-single">
                            <div class="two-section__gallery-img-inner">
                                <img src="assets/images/gallery/6.jpg" alt="">
                            </div>
                            <div class="two-section__gallery-img-overly">
                                <div class="two-section__gallery-icon-bg">
                                </div>
                                <a class="img-popup" href="assets/images/gallery/6.jpg">
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="two-section__gallery-single">
                            <div class="two-section__gallery-img-inner">
                                <img src="assets/images/gallery/7.jpg" alt="">
                            </div>
                            <div class="two-section__gallery-img-overly">
                                <div class="two-section__gallery-icon-bg">
                                </div>
                                <a class="img-popup" href="assets/images/gallery/7.jpg">
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="two-section__gallery-single">
                            <div class="two-section__gallery-img-inner">
                                <img src="assets/images/gallery/9.jpg" alt="">
                            </div>
                            <div class="two-section__gallery-img-overly">
                                <div class="two-section__gallery-icon-bg">
                                </div>
                                <a class="img-popup" href="assets/images/gallery/9.jpg">
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="two-section__gallery-single">
                            <div class="two-section__gallery-img-inner">
                                <img src="assets/images/gallery/2.jpg" alt="">
                            </div>
                            <div class="two-section__gallery-img-overly">
                                <div class="two-section__gallery-icon-bg">
                                </div>
                                <a class="img-popup" href="assets/images/gallery/2.jpg">
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="two-section__gallery-single">
                            <div class="two-section__gallery-img-inner">
                                <img src="assets/images/gallery/15.jpg" alt="">
                            </div>
                            <div class="two-section__gallery-img-overly">
                                <div class="two-section__gallery-icon-bg">
                                </div>
                                <a class="img-popup" href="assets/images/gallery/15.jpg">
                                    <span class="icon-right-arrow"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Gallery Page End-->

        <%- include('components/footer.html')  %> 
    </div>
    <%- include('includes/footer.html')  %> 