<%- include('includes/header.html')  %> 
<%- include('includes/preloader.html')  %> 
<div class="page-wrapper">
    <%- include('components/header.html')  %> 
    <%- include('components/home/slider.html')  %> 
    <%- include('components/home/featured.html')  %> 
    <%- include('components/home/about.html')  %> 
    <%- include('components/home/fundraising.html')  %> 
    <%- include('components/home/cause.html')  %> 
    <%- include('components/home/gallery.html')  %> 
    <%- include('components/home/volunteers.html')  %> 
    <%- include('components/footer.html')  %> 
</div>
<%- include('includes/footer.html')  %> 