<%- include('includes/header.html')  %> 
<%- include('includes/preloader.html')  %> 
<div class="page-wrapper">
    <%- include('components/header2.html')  %> 

		<!--Contact Page Start-->
		<section class="contact-page">
			<div class="container">
				<div class="row">
					<div class="section-title text-center">
						<span class="section-title__tagline">Find the wellbeing</span>
						<h2 class="section-title__title">Create account</h2>
					</div>
					<div class="col-xl-12">
						<form action="/register"
							method="post"
							class=" comment-one__form contact-form-validated comment-one__login-form">
							<div class="row">
								<div class="col-xl-6">
									<div class="comment-form__input-box">
										<input type="text" placeholder="First Name" name="firstName" value="<%= values && values.firstName? values.firstName: '' %>" required>
									</div>
								</div>
								<div class="col-xl-6">
									<div class="comment-form__input-box">
										<input type="text" placeholder="Last Name" name="lastName" value="<%= values && values.lastName? values.lastName: '' %>" required>
									</div>
								</div>
								<div class="col-xl-12">
									<div class="comment-form__input-box">
										<input type="text" placeholder="Username" name="username" value="<%= values && values.username? values.username: '' %>" required>
									</div>
								</div>
								<div class="col-xl-12">
									<div class="comment-form__input-box">
										<input type="email" placeholder="Email Address" name="email" value="<%= values && values.email? values.email: '' %>" required>
									</div>
								</div>
								<div class="col-xl-12">
									<div class="comment-form__input-box">
										<input type="password" placeholder="Enter Password" name="password" value="<%= values && values.password? values.password: '' %>" required>
									</div>
								</div>

								<div class="col-xl-12">
									<div class="comment-form__input-box">
										<input type="password" placeholder="Confirm Password" name="password2" value="<%= values && values.password2? values.password2: '' %>" required>
									</div>
								</div>
								<div class="col-xl-12">
									<div class="comment-form__input-box">
										<a href="/login" class="mx-auto">Already Registered? Login Now</a>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xl-12">
									<div class="comment-form__btn-box text-center">
										<button type="submit" class="thm-btn comment-form__btn">Signup now</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<!--Contact Page End-->


        <%- include('components/footer.html')  %> 
    </div>
    <%- include('includes/footer.html')  %> 