<%- include('includes/header.html')  %> 
<%- include('includes/preloader.html')  %> 
<div class="page-wrapper">
    <%- include('components/header2.html')  %> 

		<section class="testimonials-page testimonials--carousel">
			<div class="container">
				<div class="thm-owl__carousel testimonials__carousel carousel--have-shadow owl-carousel"
					data-owl-options='{
					"loop": true,
					"margin": 30,
					"items": 1,
					"nav": true,
					"dots": true,
					"smartSpeed": 700,
					"navText": ["<i class=\"fa fa-angle-left\"></i>", "<i class=\"fa fa-angle-right\"></i>"],
					"responsive": {
						"0": {
							"items": 1,
							"margin": 0
						},
						"768": {
							"items": 2,
							"margin": 30
						},
						"992": {
							"items": 3,
							"margin": 30
						}
					}
				}'>
					<div class="item">
						<!--Testimonial Two Single-->
						<div class="testimonial-two__single">
							<div class="testimonial-two__content">
								<div class="testimonial-two__quote">
									<span class="icon-quote"></span>
								</div>
								<p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
									consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua.</p>
							</div>
							<div class="testimonial-two__client-info">
								<div class="testimonial-two__client-img">
									<img src="assets/images/testimonial/testimonials-2-1.jpg" alt="">
								</div>
								<div class="testimonial-two__client-details">
									<h5 class="testimonial-two__client-name">Edith Moody</h5>
									<p class="testimonial-two__client-title">Customer</p>
								</div>
							</div>
						</div>
					</div><!-- /.item -->
					<div class="item">
						<!--Testimonial Two Single-->
						<div class="testimonial-two__single">
							<div class="testimonial-two__content">
								<div class="testimonial-two__quote">
									<span class="icon-quote"></span>
								</div>
								<p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
									consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua.</p>
							</div>
							<div class="testimonial-two__client-info">
								<div class="testimonial-two__client-img">
									<img src="assets/images/testimonial/testimonials-2-2.jpg" alt="">
								</div>
								<div class="testimonial-two__client-details">
									<h5 class="testimonial-two__client-name">Myra Price</h5>
									<p class="testimonial-two__client-title">Customer</p>
								</div>
							</div>
						</div>
					</div><!-- /.item -->
					<div class="item">
						<!--Testimonial Two Single-->
						<div class="testimonial-two__single">
							<div class="testimonial-two__content">
								<div class="testimonial-two__quote">
									<span class="icon-quote"></span>
								</div>
								<p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
									consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua.</p>
							</div>
							<div class="testimonial-two__client-info">
								<div class="testimonial-two__client-img">
									<img src="assets/images/testimonial/testimonials-2-4.jpg" alt="">
								</div>
								<div class="testimonial-two__client-details">
									<h5 class="testimonial-two__client-name">Lulu Rose</h5>
									<p class="testimonial-two__client-title">Customer</p>
								</div>
							</div>
						</div>
					</div><!-- /.item -->
					<div class="item">
						<!--Testimonial Two Single-->
						<div class="testimonial-two__single">
							<div class="testimonial-two__content">
								<div class="testimonial-two__quote">
									<span class="icon-quote"></span>
								</div>
								<p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
									consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua.</p>
							</div>
							<div class="testimonial-two__client-info">
								<div class="testimonial-two__client-img">
									<img src="assets/images/testimonial/testimonials-2-3.jpg" alt="">
								</div>
								<div class="testimonial-two__client-details">
									<h5 class="testimonial-two__client-name">Victor Pierce</h5>
									<p class="testimonial-two__client-title">Customer</p>
								</div>
							</div>
						</div>
					</div><!-- /.item -->
					<div class="item">
						<!--Testimonial Two Single-->
						<div class="testimonial-two__single">
							<div class="testimonial-two__content">
								<div class="testimonial-two__quote">
									<span class="icon-quote"></span>
								</div>
								<p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
									consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua.</p>
							</div>
							<div class="testimonial-two__client-info">
								<div class="testimonial-two__client-img">
									<img src="assets/images/testimonial/testimonials-2-6.jpg" alt="">
								</div>
								<div class="testimonial-two__client-details">
									<h5 class="testimonial-two__client-name">Bradley Duncan</h5>
									<p class="testimonial-two__client-title">Customer</p>
								</div>
							</div>
						</div>
					</div><!-- /.item -->
					<div class="item">
						<!--Testimonial Two Single-->
						<div class="testimonial-two__single">
							<div class="testimonial-two__content">
								<div class="testimonial-two__quote">
									<span class="icon-quote"></span>
								</div>
								<p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
									consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua.</p>
							</div>
							<div class="testimonial-two__client-info">
								<div class="testimonial-two__client-img">
									<img src="assets/images/testimonial/testimonials-2-5.jpg" alt="">
								</div>
								<div class="testimonial-two__client-details">
									<h5 class="testimonial-two__client-name">Vernon Wolfe</h5>
									<p class="testimonial-two__client-title">Customer</p>
								</div>
							</div>
						</div>
					</div><!-- /.item -->
					<div class="item">
						<!--Testimonial Two Single-->
						<div class="testimonial-two__single">
							<div class="testimonial-two__content">
								<div class="testimonial-two__quote">
									<span class="icon-quote"></span>
								</div>
								<p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
									consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua.</p>
							</div>
							<div class="testimonial-two__client-info">
								<div class="testimonial-two__client-img">
									<img src="assets/images/testimonial/testimonials-2-1.jpg" alt="">
								</div>
								<div class="testimonial-two__client-details">
									<h5 class="testimonial-two__client-name">Edith Moody</h5>
									<p class="testimonial-two__client-title">Customer</p>
								</div>
							</div>
						</div>
					</div><!-- /.item -->
					<div class="item">
						<!--Testimonial Two Single-->
						<div class="testimonial-two__single">
							<div class="testimonial-two__content">
								<div class="testimonial-two__quote">
									<span class="icon-quote"></span>
								</div>
								<p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
									consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua.</p>
							</div>
							<div class="testimonial-two__client-info">
								<div class="testimonial-two__client-img">
									<img src="assets/images/testimonial/testimonials-2-2.jpg" alt="">
								</div>
								<div class="testimonial-two__client-details">
									<h5 class="testimonial-two__client-name">Myra Price</h5>
									<p class="testimonial-two__client-title">Customer</p>
								</div>
							</div>
						</div>
					</div><!-- /.item -->
					<div class="item">
						<!--Testimonial Two Single-->
						<div class="testimonial-two__single">
							<div class="testimonial-two__content">
								<div class="testimonial-two__quote">
									<span class="icon-quote"></span>
								</div>
								<p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
									consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua.</p>
							</div>
							<div class="testimonial-two__client-info">
								<div class="testimonial-two__client-img">
									<img src="assets/images/testimonial/testimonials-2-4.jpg" alt="">
								</div>
								<div class="testimonial-two__client-details">
									<h5 class="testimonial-two__client-name">Lulu Rose</h5>
									<p class="testimonial-two__client-title">Customer</p>
								</div>
							</div>
						</div>
					</div><!-- /.item -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.testimonials-page -->


        <%- include('components/footer.html')  %> 
    </div>
    <%- include('includes/footer.html')  %> 