<%- include('includes/header.html')  %> 
<%- include('includes/preloader.html')  %> 
<div class="page-wrapper">
    <%- include('components/header2.html')  %> 

		<section class="testimonials-page">
			<div class="container">
				<div class="row testimonials__row">
					<div class="col-lg-4">
						<!--Testimonial Two Single-->
						<div class="testimonial-two__single">
							<div class="testimonial-two__content">
								<div class="testimonial-two__quote">
									<span class="icon-quote"></span>
								</div>
								<p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
									consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua.</p>
							</div>
							<div class="testimonial-two__client-info">
								<div class="testimonial-two__client-img">
									<img src="assets/images/testimonial/testimonials-2-1.jpg" alt="">
								</div>
								<div class="testimonial-two__client-details">
									<h5 class="testimonial-two__client-name">Edith Moody</h5>
									<p class="testimonial-two__client-title">Customer</p>
								</div>
							</div>
						</div>
					</div><!-- /.col-lg-4 -->
					<div class="col-lg-4">
						<!--Testimonial Two Single-->
						<div class="testimonial-two__single">
							<div class="testimonial-two__content">
								<div class="testimonial-two__quote">
									<span class="icon-quote"></span>
								</div>
								<p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
									consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua.</p>
							</div>
							<div class="testimonial-two__client-info">
								<div class="testimonial-two__client-img">
									<img src="assets/images/testimonial/testimonials-2-2.jpg" alt="">
								</div>
								<div class="testimonial-two__client-details">
									<h5 class="testimonial-two__client-name">Myra Price</h5>
									<p class="testimonial-two__client-title">Customer</p>
								</div>
							</div>
						</div>
					</div><!-- /.col-lg-4 -->
					<div class="col-lg-4">
						<!--Testimonial Two Single-->
						<div class="testimonial-two__single">
							<div class="testimonial-two__content">
								<div class="testimonial-two__quote">
									<span class="icon-quote"></span>
								</div>
								<p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
									consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua.</p>
							</div>
							<div class="testimonial-two__client-info">
								<div class="testimonial-two__client-img">
									<img src="assets/images/testimonial/testimonials-2-4.jpg" alt="">
								</div>
								<div class="testimonial-two__client-details">
									<h5 class="testimonial-two__client-name">Lulu Rose</h5>
									<p class="testimonial-two__client-title">Customer</p>
								</div>
							</div>
						</div>
					</div><!-- /.col-lg-4 -->
					<div class="col-lg-4">
						<!--Testimonial Two Single-->
						<div class="testimonial-two__single">
							<div class="testimonial-two__content">
								<div class="testimonial-two__quote">
									<span class="icon-quote"></span>
								</div>
								<p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
									consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua.</p>
							</div>
							<div class="testimonial-two__client-info">
								<div class="testimonial-two__client-img">
									<img src="assets/images/testimonial/testimonials-2-3.jpg" alt="">
								</div>
								<div class="testimonial-two__client-details">
									<h5 class="testimonial-two__client-name">Victor Pierce</h5>
									<p class="testimonial-two__client-title">Customer</p>
								</div>
							</div>
						</div>
					</div><!-- /.col-lg-4 -->
					<div class="col-lg-4">
						<!--Testimonial Two Single-->
						<div class="testimonial-two__single">
							<div class="testimonial-two__content">
								<div class="testimonial-two__quote">
									<span class="icon-quote"></span>
								</div>
								<p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
									consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua.</p>
							</div>
							<div class="testimonial-two__client-info">
								<div class="testimonial-two__client-img">
									<img src="assets/images/testimonial/testimonials-2-6.jpg" alt="">
								</div>
								<div class="testimonial-two__client-details">
									<h5 class="testimonial-two__client-name">Bradley Duncan</h5>
									<p class="testimonial-two__client-title">Customer</p>
								</div>
							</div>
						</div>
					</div><!-- /.col-lg-4 -->
					<div class="col-lg-4">
						<!--Testimonial Two Single-->
						<div class="testimonial-two__single">
							<div class="testimonial-two__content">
								<div class="testimonial-two__quote">
									<span class="icon-quote"></span>
								</div>
								<p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
									consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
									et dolore magna aliqua.</p>
							</div>
							<div class="testimonial-two__client-info">
								<div class="testimonial-two__client-img">
									<img src="assets/images/testimonial/testimonials-2-5.jpg" alt="">
								</div>
								<div class="testimonial-two__client-details">
									<h5 class="testimonial-two__client-name">Vernon Wolfe</h5>
									<p class="testimonial-two__client-title">Customer</p>
								</div>
							</div>
						</div>
					</div><!-- /.col-lg-4 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.testimonials-page -->


        <%- include('components/footer.html')  %> 
    </div>
    <%- include('includes/footer.html')  %> 