<section class="about-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-one__left">
                    <div class="about-one__img wow slideInLeft" data-wow-delay="100ms"
                        data-wow-duration="2500ms">
                        <img src="/assets/images/resources/3.jpg" alt="">
                        <!-- <div class="about-one__badge">
                            <img src="/assets/images/resources/about-one-badge.png" alt="">
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-one__right">
                    <div class="about-one-shape float-bob-y"><img src="/assets/images/shapes/about-one-shape.png"
                            alt=""></div>
                    <div class="section-title text-left">
                        <span class="section-title__tagline">Welcome to charity</span>
                        <h2 class="section-title__title">Our Main Priority is</h2>
                    </div>
                    <div class="about-one__content">
                        <div class="about-one__content-icon">
                            <span class="icon-charity"></span>
                        </div>
                        <p class="about-one__content-text">to improve Education, Orphan Care, Water And Sanitation, Agriculture, Livelihood Projects, Ramadan Program, Qurban Program, Emergency Relief/Food Aid, Health, Construction And Dawah Programs in Africa.</p>
                    </div>
                    <p class="about-one__text"> Ensure accessibility of clean safe drinking water by the community people for proper health and self sustainability <br/><br/> To advocate for vulnerable community people in all matters that promote infrustractual development and improving standards of living </p>
                    <!-- <ul class="about-one__points list-unstyled">
                        <li>
                            <div class="icon">
                                <span class="icon-confirmation"></span>
                            </div>
                            <div class="text">
                                <p>Join our Team</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="icon-confirmation"></span>
                            </div>
                            <div class="text">
                                <p>Quick Fundraising</p>
                            </div>
                        </li>
                    </ul>
                    <ul class="about-one__points-content list-unstyled">
                        <li>
                            <p class="about-one__points-text">Lorem ipsum dolor sit ame ed consectetur nod.</p>
                        </li>
                        <li>
                            <p class="about-one__points-text">Lorem ipsum dolor sit ame ed consectetur nod.</p>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</section>