<section class="testimonial-two">
    <div class="testimonial-two-bg"
        style="background-image: url(assets/images/backgrounds/testimonial-two-bg.png);"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="testimonial-two__left">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">our testimonials</span>
                        <h2 class="section-title__title">What They’re Talking About Company?</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="testimonial-two__right">
                    <div class="testimonial-two__carousel owl-carousel owl-theme">
                        <!--Testimonial Two Single-->
                        <div class="testimonial-two__single">
                            <div class="testimonial-two__content">
                                <div class="testimonial-two__quote">
                                    <span class="icon-quote"></span>
                                </div>
                                <p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
                                    consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
                                    et dolore magna aliqua.</p>
                            </div>
                            <div class="testimonial-two__client-info">
                                <div class="testimonial-two__client-img">
                                    <img src="/assets/images/testimonial/testimonials-2-1.jpg" alt="">
                                </div>
                                <div class="testimonial-two__client-details">
                                    <h5 class="testimonial-two__client-name">Kevin Martin</h5>
                                    <p class="testimonial-two__client-title">Customer</p>
                                </div>
                            </div>
                        </div>
                        <!--Testimonial Two Single-->
                        <div class="testimonial-two__single">
                            <div class="testimonial-two__content">
                                <div class="testimonial-two__quote">
                                    <span class="icon-quote"></span>
                                </div>
                                <p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
                                    consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
                                    et dolore magna aliqua.</p>
                            </div>
                            <div class="testimonial-two__client-info">
                                <div class="testimonial-two__client-img">
                                    <img src="/assets/images/testimonial/testimonials-2-2.jpg" alt="">
                                </div>
                                <div class="testimonial-two__client-details">
                                    <h5 class="testimonial-two__client-name">Sarah Albert</h5>
                                    <p class="testimonial-two__client-title">Customer</p>
                                </div>
                            </div>
                        </div>
                        <!--Testimonial Two Single-->
                        <div class="testimonial-two__single">
                            <div class="testimonial-two__content">
                                <div class="testimonial-two__quote">
                                    <span class="icon-quote"></span>
                                </div>
                                <p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
                                    consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
                                    et dolore magna aliqua.</p>
                            </div>
                            <div class="testimonial-two__client-info">
                                <div class="testimonial-two__client-img">
                                    <img src="/assets/images/testimonial/testimonials-2-1.jpg" alt="">
                                </div>
                                <div class="testimonial-two__client-details">
                                    <h5 class="testimonial-two__client-name">Kevin Martin</h5>
                                    <p class="testimonial-two__client-title">Customer</p>
                                </div>
                            </div>
                        </div>
                        <!--Testimonial Two Single-->
                        <div class="testimonial-two__single">
                            <div class="testimonial-two__content">
                                <div class="testimonial-two__quote">
                                    <span class="icon-quote"></span>
                                </div>
                                <p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
                                    consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
                                    et dolore magna aliqua.</p>
                            </div>
                            <div class="testimonial-two__client-info">
                                <div class="testimonial-two__client-img">
                                    <img src="/assets/images/testimonial/testimonials-2-2.jpg" alt="">
                                </div>
                                <div class="testimonial-two__client-details">
                                    <h5 class="testimonial-two__client-name">Sarah Albert</h5>
                                    <p class="testimonial-two__client-title">Customer</p>
                                </div>
                            </div>
                        </div>
                        <!--Testimonial Two Single-->
                        <div class="testimonial-two__single">
                            <div class="testimonial-two__content">
                                <div class="testimonial-two__quote">
                                    <span class="icon-quote"></span>
                                </div>
                                <p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
                                    consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
                                    et dolore magna aliqua.</p>
                            </div>
                            <div class="testimonial-two__client-info">
                                <div class="testimonial-two__client-img">
                                    <img src="/assets/images/testimonial/testimonials-2-1.jpg" alt="">
                                </div>
                                <div class="testimonial-two__client-details">
                                    <h5 class="testimonial-two__client-name">Kevin Martin</h5>
                                    <p class="testimonial-two__client-title">Customer</p>
                                </div>
                            </div>
                        </div>
                        <!--Testimonial Two Single-->
                        <div class="testimonial-two__single">
                            <div class="testimonial-two__content">
                                <div class="testimonial-two__quote">
                                    <span class="icon-quote"></span>
                                </div>
                                <p class="testimonial-two__text">Lorem ipsum is simply free text dolor sit amet,
                                    consect notted adipisicing elit sed do eiusmod tempor incididunt ut labore
                                    et dolore magna aliqua.</p>
                            </div>
                            <div class="testimonial-two__client-info">
                                <div class="testimonial-two__client-img">
                                    <img src="/assets/images/testimonial/testimonials-2-2.jpg" alt="">
                                </div>
                                <div class="testimonial-two__client-details">
                                    <h5 class="testimonial-two__client-name">Sarah Albert</h5>
                                    <p class="testimonial-two__client-title">Customer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>